*/*.aux
*/*.log
*/*.out
*/*.blg

pygbe-orientation/CooperBarba-orientationNotes.bib

pygbe-orientation/CooperBarba-orientation.pdf

pygbe2-CPC/CooperBarba2014.pdf

pygbe2-CPC/CooperBarba2014.spl

*.aux

*.log

*.out
